body {
    background-color: #e2d8e2
    color: #21022d
    padding: 24px
}

h1 {
        color: white;
        text-align: center;
        background: color #21002d;
        margin: 8px;
        border: 8px solid; color: #21002d;
    
    }
    
